.url {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  background-color: #FFF;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.url-title {
  margin: 5px;;
}